@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
 <img alt="300x100" src="http://images-cdn.9gag.com/photo/awbM60B_700b.jpg" class="img-rounded" /><br />
<h4>SecData is a project created by students to complete semester. <br />
Subject: Colaborative Project <br />
Members: <br />
<ol>
<li> Dariusz Bernad - team leader; responsible for back-end</li>
<li> Laura Świś - responsible for security</li>
<li> Michał Janowicz - responsible for front-end</li>
</ol>
    <br />Thank for your attention!
    </h4>


   
    <p>
</p>


