@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><img alt="300x100" src="~/Content/secdata.png" class="img-rounded" /></center>
    <h1>SECDATA</h1>
    <p class="lead">... is an online encrypted storage. 
Provides you easy and simple methods to store your files without worring about security.</p>
    <!---<p><a href="http://somelink.here" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<!---<p>baza danych, użytkownik, tworzenie nowego, rejestracja</p>-->

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            SECDATA gives you strong, known ways to store your files which
            helps you to organize your data without worrying about privacy.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Find more about our methods</h2>
        <p>Best security is known for not hiding the methods of how they work. 
That is why we provided everything you need to know.</p>
        
    </div>
</div>