
@{
    ViewBag.Title = "DatabaseError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DatabaseError</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <table class="table table" id="1">
            <thead>
                <tr>
                    <th>
                        <font size="6">@ViewBag.Title</font>
                    </th>

                </tr>
            </thead>
        </table>

    </div>
    <div class="panel-body">

        <div class="panel panel-info">
            <div class="panel-heading">

                <h3>It appears there was database error. Contact service.</h3>

            </div>


        </div>

    </div>
</div>

