
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <table class="table table" id="1">
            <thead>
                <tr>
                    <th>
                        <font size="6">@ViewBag.Title</font>
                    </th>

                </tr>
            </thead>
        </table>

    </div>
    <div class="panel-body">

        <div class="panel panel-info">
            <div class="panel-heading">


                <center> <img alt="410x332" src="~/Content/techsupport.jpg" class="img-rounded" /> </center>

            </div>

            <h3>404 Page not found</h3>
        </div>

    </div>
</div>

