body {
    padding-top: 50px;
    padding-bottom: 20px;

   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

.jumbotron {
    background-color: #FFFFFF;
}

.nazwa-wlasna{
     float: left;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 20px;
  color: #fff;
}

.bialyhome {
    color: #ffffff !important;  
    font-size: 16px;
}

.size1 {
    font-size: 16px;
}




/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
